# Ignore node_modules directory
node_modules/

# Ignore build output
/dist/
/out/

# Ignore environment-specific configuration files
.env
.env.local
.env.*.local

# Ignore TypeScript configuration files
tsconfig.json
tsconfig.*.json

# Ignore package manager lock files
package-lock.json
yarn.lock

# Ignore VSCode settings
.vscode/

# Ignore testing libraries' configuration and cache
__snapshots__/
test-results/

# Ignore editor backup files
*~
